section {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}
.header {
    padding: 60px;
    background: #1abc9c;
    font-size: 30px;
    margin-top: 100px;
    
  }
h2{
    color: #fff;
    font-size: 45px;
    font-weight: 700;
    margin: 0 0 6px;
    }
.profile_photo{
    position: absolute;
    display: flex;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 6px solid rgba(255, 255, 255, 0.1);
}
.bio_container{
    margin: 90px;
}
h3{
    font-size: 20px;
    }
p{
    font-size: 20px;
    }