.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    
    padding: 50px;
    transition: 0.3s;
    margin-left: auto;
    margin-right: auto;
    float: center;
    width: 350px;
    height: 500px;
}
.profile_photo {
    position: relative;
    width: 350px;
    max-width: 100%;
    border-radius: 10px;
}
h2{
    font-size: 45px;
    font-weight: 700;
    margin: 0 0 6px;
    text-align: center;
}
.bio_container{
    text-align: center;
}
h3{
    font-size: 18px;
}
p{
	font-size: 18px;
	line-height: 25px;
}
button.primary {
    border: 1px solid;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgb(250, 149, 197);
    color: rgb(251, 117, 34);
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
button.primary:hover{
    background: rgb(250, 149, 197);
    color: white;
}

